steps:
- bash: |
    echo "https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com" > ~/.git-credentials
    git clone --branch $(WORKBRANCH) https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@$(SPEC_REPO_URL)

    git clone --branch $(WORKBRANCH) https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@$(SDK_REPO_URL)
    sdktarget=$(TARGET)
    repo=""
    if [ "$sdktarget" == "terraform" ]; then
      # cp $(Pipeline.Workspace)/s/azure-rest-api-specs/specification/$(ResourceProvider)/resource-manager/readme.terraform.md $(Pipeline.Workspace)/s/terraform-provider-azurerm/azurerm/internal/services/$(ResourceProvider)/
      cp $(Pipeline.Workspace)/s/$($(SPEC_REPO_NAME)/specification/$(ResourceProvider)/resource-manager/readme.terraform.md $(Pipeline.Workspace)/s/$(SDK_REPO_NAME)/
    fi

    if [ "$sdktarget" == "clicore" ]; then
      cp $(Pipeline.Workspace)/s/$($(SPEC_REPO_NAME)/specification/$(ResourceProvider)/resource-manager/readme.az.md $(Pipeline.Workspace)/s/$(SDK_REPO_NAME)/
    fi

    if [ "$sdktarget" == "cliextension" ]; then
      cp $(Pipeline.Workspace)/s/$($(SPEC_REPO_NAME)/specification/$(ResourceProvider)/resource-manager/readme.az.md $(Pipeline.Workspace)/s/$(SDK_REPO_NAME)/
    fi

    cd $(Pipeline.Workspace)/s/$repo
    tf_existed_in_remote=$(git ls-remote --heads origin $(WORKBRANCH)-code)
      if [[ -z ${tf_existed_in_remote} ]]; then
        git checkout -b $(WORKBRANCH)-code
      else
        git checkout $(WORKBRANCH)-code
        git reset --hard origin/$(WORKBRANCH)
    fi
    
    git config credential.helper store; git config --global user.email "sdkautomationpipeline@outlook.com";git config --global user.name "AzureSDKPipelineBot;"
    git branch; git add -A; git commit -m "autogenerated"; git push -f origin $(WORKBRANCH)-code;
    
    org=$(SPEC_REPO_OWNER)
    repo=$(SPEC_REPO_NAME)
    base=$(SPEC_REPO_BASE_BRANCH)
    
    codePR=$(curl -X POST -H "Content-Type: application/json" https://$(CodegenApp_Server)/codegenerations/generatePullRequest -d '{"org":"'"$org"'", "repo":"'"$repo"'", "title":"{$(OnboardType) coverage, not merge} pull request of $(ResourceProvider)", "branch":"$(WORKBRANCH)-code", "base":"'"$base"'"}')
    echo "codePR:$codePR"
    echo "##vso[task.setvariable variable=CODE_PULLREQUEST]$codePR"
  displayName: "Generate Code Pull Request"